body {
  background-color: rgb(50, 163, 255);
  font-family: "Fjalla One", sans-serif;
  color: white;
}
.section1 {
  background: rgb(0, 31, 117);
  padding-bottom: 50px;
}

h1 {
  display: block;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  color: #fff;
  font-size: 80px;
}
ul {
  list-style: none;
  text-align: center;
}
ul li {
  display: inline-block;
}
.Monday {
  width: 11em;
  background-color: rgb(45, 66, 255);
  border: 2px solid black;
  padding: 10px;
  word-wrap: break-word;
  font-size: 20px;
  color: #fff;
  font-family: "Fjalla One", sans-serif;
}
.Tuesday {
  width: 11em;
  background-color: rgb(45, 66, 255);
  border: 2px solid black;
  padding: 10px;
  word-wrap: break-word;
  font-size: 20px;
  color: #fff;
  font-family: "Fjalla One", sans-serif;
}
.Wednesday {
  width: 11em;
  background-color: rgb(45, 66, 255);
  border: 2px solid black;
  padding: 10px;
  word-wrap: break-word;
  font-size: 20px;
  color: #fff;
  font-family: "Fjalla One", sans-serif;
}
.Thursday {
  width: 11em;
  background-color: rgb(45, 66, 255);
  border: 2px solid black;
  padding: 10px;
  word-wrap: break-word;
  font-size: 20px;
  color: #fff;
  font-family: "Fjalla One", sans-serif;
}
.Friday {
  width: 11em;
  background-color: rgb(45, 66, 255);
  border: 2px solid black;
  padding: 10px;
  word-wrap: break-word;
  font-size: 20px;
  color: #fff;
  font-family: "Fjalla One", sans-serif;
}

h2,
h3,
h4 {
  padding-left: 50px;
}
p {
  border: 2px solid blue;
  padding: 5px auto;
  margin: 5px auto;
  width: 20em;
  background-color: rgb(45, 66, 255);
  border: 2px solid black;
  padding: 10px;
  word-wrap: break-word;
  font-size: 20px;
  text-align: center;
}
.pic {
  display: block;
  text-align: center;
}
.container {
  display: block;
  text-align: center;
}
.section3 {
  background: rgb(0, 31, 117);
}
